<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <style>
        h1{
            margin-bottom: 50px;
        }
        li{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li><b>Title:</b> {{ book.title }} --- <b>Author:</b> {{ book.author }} --- <b>Publication Year:</b> {{ book.publicationyear }}</li>
        {% endfor %}
    </ul>
</body>
</html>
